openai
streamlit
audio-recorder-streamlit
matplotlib
pillow
langchain==0.2.3
langchain-openai
langchain-anthropic
langchain-experimental
langchain-google-genai
langchain-google-community
langsmith
pypdf
docx2txt
faiss-cpu
tiktoken
arxiv
wikipedia
