openai
streamlit
audio-recorder-streamlit
matplotlib
pillow
langchain
langchain-openai
langchain-experimental
langchain-google-genai==1.0.3
langchain-google-community==1.0.3
langsmith
pypdf
docx2txt
faiss-cpu
tiktoken
arxiv
wikipedia
